<h1 style="color:#155EEF;"><%= @task.title %></h1>
<h3 style="color:#2970FF;"><%= @task.description %></h3>
<p>
  <%= link_to '+ Add subtask', new_task_subtask_path(@task) %>
</p>
<hr>
<table>
 <thead>
     <th>id</th>
     <th>User story</th>
     <th>Story points</th>
     <th>Status</th>
     <th>Action</th>
 </thread>

 <tbody>
    <% @task.subtasks.each do |subtask| %>
        <tr>
          <td><%= subtask.id %></td>
          <td><%= subtask.user_story %></td>
          <td><%= subtask.story_points %></td>
          <td><%= subtask.status %></td>
          <td><%= link_to "Edit", edit_task_subtask_path(@task, subtask) %> 
          <td><%= button_to "Delete", task_subtask_path(@task, subtask), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
 </tbody>

</table>
<hr>